<nav class='navbar'>
  <a class='nav-logo' href='/'>
    <img
      src='/images/ironhack.png'
      alt='Ironhack Logo'
      style='width: 42px;'
    /></a>
  <ul class='nav-links container'>
    <li>
      <a class='navlink' href='/'><i
          class='fa-solid fa-house'
        ></i>&nbsp;&nbsp;Home</a>
    </li>
    <li>
      <a class='navlink' href='/beers'>Beers</a>
    </li>
    <li>
      <a class='navlink' href='/random-beer'>Random beer&nbsp;&nbsp;<i
          class='fa-solid fa-wine-bottle'
        ></i></a>
    </li>
  </ul>

</nav>
<div id='navgap'></div>