<nav class='navbar'>
  <a class='nav-logo' href='/'>
    <img
      src='/images/ironhack.png'
      alt='Ironhack Logo'
      style='width: 32px;'
    /></a>
  <div class='nav-links container'>
    <a class='navlink' href='/'>HOME</a>
    <a class='navlink' href='/beers'>BEERS</a>
    <a class='navlink' href='/random-beer'>RANDOM BEER</a>
  </div>
  <div id='navgap'></div>
</nav>