<body>
  <h1>/home</h1>
  <div class='home-container'>
    <img src='/images/beer.png' alt='' style='width: 320px' />
    <div class='btns'>
      <a class='btn-link' href='/beers'>Check the Beers!</a>
      <a class='btn-link' href='/random-beer'>Check a Random Beer!</a>
    </div>
  </div>
</body>